$col-background: #fff;
$col-main: #eee;
$col-main-shade: #ddd;

$col-accent: #00a087;
$col-accent-tint: #c0e0e8;
$col-accent-tint2: #e8fdff;

$col-midtone: #889;
$col-darktone: #555;

$col-warning-mild: #d80;
$col-warning: #d00;
$col-warning-major: #f00;

$col-general-text: #244751;