@import 'colours';

#nav-bar {
  background-color: $col-accent;
  color: $col-accent-tint2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  padding: 0 2em;
  z-index: 1;

  .logo {
    position: relative;
    height: 80px;
    float: left;
  }

  .header {
    float: left;
    margin-left: 10px;
    font-size: 2em;
    line-height: 2.5;
  }

  .button {
    background-color: $col-accent-tint;
    color: $col-accent;
    border-radius: 10px;
    float: right;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    line-height: 1.5;
    cursor: default;
  }
}

#nav-bar:hover .button {
  background-color: $col-accent-tint2;
}
