/*
 ...
 
}
*/
 #nav-bar {
  background-color: #00A087;
  color: #e8fdff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  padding: 0 2em;
}

#nav-bar .logo {
  position: relative;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  font-size: 2em;
  line-height: 2.5;
}

#nav-bar .button {
  background-color: #C0E0E8;
  color: #00A087;
  border-radius: 10px;
  float: right;
  padding: 10px;
  margin: 10px;
  font-size: 1.5em;
  line-height: 1.5; 
}

#nav-bar:hover .button {
  background-color: #E0F0F4;
}
