section.new-tweet {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  margin: 2em;
}

section.new-tweet h2 {
  border-bottom: 1px solid #999;
  margin: 0;
}
 
section.new-tweet textarea {
  padding: 10px;
  width: 100%;
  height: 5em;
  margin: 1em 0;
  resize: none;
}

section.new-tweet .counter {
  float: right;
}

section.new-tweet .almost-too-long {
  color: #D80;
}

section.new-tweet .too-long {
  color: #D00;
}

section.new-tweet .way-too-long {
  color: #F00;
  font-weight: bold;
}